[submodule "3rdparty/Automodel"]
	path = 3rdparty/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
