num_model_invocations_per_inference_step: 1

model_config:
  name: cosmos
  
  latent_vector_shape:
    width: 80
    height: 44
    depth: 16
  
  num_heads: 32
  num_layers: 28

  context_parallel_size: 1
  tensor_parallel_size: 1
  num_steps: 70

attn:
  is_enabled: true
  top_keys: 0.25
  random_keys: 0.01

  first_n_dense_layers: 2
  recompute_mask: true
  should_compress_indices: true

  # If schedule is not None, will override full_step_every
  full_step_schedule: !!set
    ? 0
    ? 1
    ? 10
    ? 40
  # full_step_every: 10

  pad_qkv_before_kernel: true
  counts_multiple_of: 128

offloading:
  global_disable_offloading: true
step_caching:
  is_enabled: false